*
{
	margin: 0;
	padding:0;
}

html,body
{
	height: 100%;
	width: 100%;
	margin: 0;
}

.dropDownShow
{
	display:block;
	background-color: black;
	border:2px solid white;
	width:80%;
	z-index:1;
}
.dropDownHide
{
	display:none;
}
.input
{
	width: 180px;
	height: 40px;
	margin: auto;
	opacity: .5;
}
.titles
{
	width: 100%;
	text-align: center;
}

#login-main
{
	background-image:url(../img/backgrounds.jpg);
	display:block;
	height: 100%;
}
.input
{
	width: 180px;
	height: 40px;
	margin: auto;
	opacity: .5;
}
.titles
{
	width: 100%;
	text-align: center;

}
label
{
	font-weight: bold;
	width: 100%;
	text-align: right;
}
.header-container
{
	margin:0;
	padding:0;	
}
.wrapper
{
	background-color: black;
	height: 10%;
}

.nav-buttons
{
	 list-style-type: none;
	 color:white;
}
.lists li
{
	 padding-top:20px;
	 padding-bottom: 20px;
}
.nav-buttons a
{
	color:white;
}
#wrapper-register-page
{
	margin-left: 15%;
	margin-right: 15%;
	background-color: white;
}

.container-fuel
{
	border: 1px solid;
  	min-height: 260px;
  	border: 0px solid;
}

.profile_img
{
  	overflow: hidden;
    width: 130px;
  	height: 180px;
  	margin: 50px 0 0 70px;
    border:1px solid black;
}
.profile_hrefs
{
 	margin:100px 0 0 0;
}
.profile_hrefs a
{
	margin: 0 50px;
	font-size: 3em;
	text-decoration: none;
	font-family: 'Dancing Script', cursive;
	color: black;
}
.change_profile
{
	margin: 0 70px;
	width: 130px;
	height: 30px;
}