*
{
	margin: 0;
	padding:0;
}

html,body
{
	height: 100%;
	width: 100%;
}

.dropDownShow
{
	display:block;
	background-color: black;
	border:2px solid white;
	position: relative;
	width:80%;
	z-index:1;
}
.dropDownHide
{
	display:none;
}
.titles
{
	width: 100%;
	text-align: center;
}

#main
{
	background-image:url(../img/backgrounds.jpg);
	display:block;
}
.input
{
	width: 180px;
	height: 40px;
	margin: auto;
}
.titles
{
	width: 100%;
	text-align: center;

}
label
{
	font-weight: bold;
	width: 100%;
	text-align: left;
	padding-left: 37px;	
}
.header-container
{
	margin:0;
	padding:0;	
}
.nav-wrapper
{
	background-color: black;
	background-image : url("https://artstonegroup.ru/wp-content/uploads/2017/10/che1-1024x700.jpg");
	height: 7%;
	max-height: : 7%;
	padding-bottom:60px;
}

.nav-buttons
{
	 list-style-type: none;
	 color:white;
}
.lists li
{
	 padding-top:20px;
	 padding-bottom: 20px;
}
.nav-buttons a
{
	color:white;
}
#wrapper-register-page
{
	margin-left: 15%;
	margin-right: 15%;
	background-color: rgb(255,255,255,0.8);
}

.container-register-page
{
	display:flex;
	justify-content: center;
	padding-bottom: 40px ;

}

.container.fuel
{
	border: 1px solid;
  	min-height: 260px;
  	border: 0px solid;
  	background-color:
	rgba(255, 255, 255, 0.8);
	padding-left: 100px;
	height: 100%;
	min-height: 80%;
	padding-top: 50px;
}

.profile_img
{
  	overflow: hidden;
    width: 130px;
  	height: 180px;
  	margin: 50px 0 0 70px;
    border:1px solid black;
}
.profile_hrefs
{
 	margin:100px 0 0 0;
}
.profile_hrefs a
{
	margin: 0 50px;
	font-size: 3em;
	text-decoration: none;
	font-family: 'Dancing Script', cursive;
	color: black;
}
.change_profile
{
	margin: 0 70px;
	width: 130px;
	height: 30px;
}

.main-page-container
{
	background-color: rgb(255,255,255,0.8);
	display:block;
	height: 110%;

}
main
{
	padding-bottom: 57px;
}
footer
{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 56px;
	background-color: black;
	background-image: url("https://artstonegroup.ru/wp-content/uploads/2017/10/che1-1024x700.jpg");
}
.main-wrapper {
	position: relative;
	min-height: 100%;
}
.first-row-in-main-page
{
	position:relative;
	top: 150px;
}
.book-img-size
{
	height: 200px;
	width: 152px;
}
.book-container
{
	display:flex;
	flex-direction: column;
	align-items:center;
}
.book-container a
{
	margin-top:10px;
}

.book-container
{
	margin-top:10px;
	margin-bottom:40px;
}

.choosing-nav
{
	position: relative;
	top:13px;

}
#search-wrapper
{
	margin-top:13px;
	display: flex;
	justify-content: center;
}

#myInput
{
	display:block;
	border:1px solid black;
	border-radius: 10px 10px 10px 10px;
	padding: 12px 0 12px 20px;
	width:60%;
	height: 30px
}
.login-and-register-label
{
	color:white;
}

.login-and-register-label:visited
{
	color:white;
}
#login-main
{
	display:flex;
	justify-content: center;
	align-items: center
}
#login-form
{
	display:block;
	position: relative;
	bottom:10%;
}

.submit {
	cursor: pointer;
	border: 1px solid #cecece;
	background: #f6f6f6;
	border-radius: 8px;
	width: 100px;
	height: 30px;
	position: relative;
	left:25%;
}
.submit:hover {
	box-shadow: inset 0px -20px 20px #ffffff;
}
.submit:active {
	margin-top: 1px;
	margin-bottom: -1px;
	zoom: 1;
}
#user-view-in-header
{
	color:white;
	display:flex;
	justify-content: space-around;
}
#user-view-name
{
	margin:0;
	font-size:20px;
}
.logout-value
{
	font-size:20px;
	position: relative;;
	top:5px;
}
.logout-button:link
{
	color:blue;
}
.logout-button:visited
{
	color:blue;
}
.grateful-for-register
{
	height: 100%;
	text-align: center;
	padding-top: 250px;
}
